
<div  class="contreg">
    <div class="mensaje">
      <h1>Completa tu informacion</h1>
      <h5>
        Cada vez mas cerca de acceder a los beneficios de MY WALLET para finalizar
        el registro y crear tu cuenta, por favor diligencia la siguiente
        Informacion
      </h5>
    </div>
  
    <div>
      <div class="form-outline mb-4">
        <label class="form-label bold" for="form5Example1">Nombre Completo</label>
        <input type="text" name="name" class="form-control Nombre" [(ngModel)]="name" required minlength="1"  />
      </div>
  
      <div class="form-outline mb-4">
        <label class="form-label" for="form5Example1">Inventario </label>
        <input required maxlength="14" type="number" name="telefono" [(ngModel)]="inInventory" class="form-control telefono"
          placeholder="Ejemplo: 5731787" />
      </div>
  
      <div class="form-outline mb-4">
        <label class="form-label" for="form5Example2">min</label>
        <input type="number" id="form5Example2" class="form-control email" [(ngModel)]="min "  />
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="form5Example2">max</label>
        <input type="number" id="form5Example2" class="form-control email" [(ngModel)]="max"  />
      </div>
  
      <button type="submit" class="btn btn-primary btn-block mb-4" (click)="crear()">
        Crear
      </button>
    </div>
  </div>
  <div class="hola" *ngIf="productos">
    <div *ngFor="let producto of productos">
        
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">Nombre del producto: {{producto.name}}</h5>
              <p class="card-text">Cantidad en inventario: {{producto.inInventory}}</p>
              <p class="card-text">Cantidad maxima: {{producto.max}}</p>
              <p class="card-text">Cantidad minima: {{producto.min}}</p>
              <button (click)="modificarProducto(this.producto.name , this.producto.inInventory)" class="btn btn-primary">Editar</button>
              <button (click)="agregarProductoCarro(this.producto.name)" class="btn btn-primary">+</button>              
              <button (click)="eliminarProducto(this.producto.name)" class="btn btn-secondary {{producto.name}}">Eliminar</button>
            </div>
          </div>
       
       

    </div>

</div>
<div  class="contreg">
  <div class="mensaje">
    <h1>Completa tu informacion</h1>
    <h5>
      Realizar venta
    </h5>
  </div>

  <div>
    <div class="form-outline mb-4">
      <label class="form-label bold" for="form5Example1">fecha</label>
      <input type="text" name="name" class="form-control Nombre" [(ngModel)]="date" required minlength="1"  />
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="form5Example1">Numero de ID </label>
      <input required maxlength="14" type="number" name="telefono" [(ngModel)]="id" class="form-control telefono"
        placeholder="Ejemplo: 5731787" />
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="form5Example2">Tipo de ID</label>
      <input type="string" id="form5Example2" class="form-control email" [(ngModel)]="idType "  />
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="form5Example2">Nombre del cliente</label>
      <input type="text" id="form5Example2" class="form-control email" [(ngModel)]="clientName"  />
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4" (click)="crearVenta()">
      Crear
    </button>
  </div>
</div>
<div class="hola" *ngIf="products">
  <div *ngFor="let products of products">
      
      <div class="card" style="width: 18rem;">
          
          <div class="card-body">
            <h5 class="card-title">Nombre del producto: {{products.name}}</h5>
            <p class="card-text">Cantidad en inventario: {{products.quantity}}</p>
            
            <!-- <button (click)="modificarProducto(this.producto.name , this.producto.inInventory)" class="btn btn-primary">Editar</button>
            <button (click)="agregarProductoCarro(this.producto.name)" class="btn btn-primary">+</button>               -->
            <button (click)="eliminarProducto(this.products.name)" class="btn btn-secondary {{products.name}}">Eliminar</button>
          </div>
        </div>
     
     

  </div>
