.hola{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}
.contreg{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.titulo{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 5vh;
}