<div  class="contreg">
    <div class="mensaje">
      <h1>Creacion de producto</h1>
      <h5>
        Aqui debes de ingresar la informacion pertinente al producto que deseas crear
      </h5>
    </div>
  
    <div class="contenedor d-flex p-2">
      <div class="form-outline mb-4 p-4">
        <label class="form-label bold" for="form5Example1">Nombre Del Producto</label>
        <input type="text" name="name" class="form-control Nombre" [(ngModel)]="name" required minlength="1"  />
      </div>
  
      <div class="form-outline mb-4 p-4">
        <label class="form-label" for="form5Example1"> Cantidad en Inventario </label>
        <input required maxlength="14" type="number" name="telefono" [(ngModel)]="inInventory" class="form-control telefono"
          placeholder="Ejemplo: 5731787" />
      </div>
  
      <div class="form-outline mb-4 p-4">
        <label class="form-label" for="form5Example2">Minimo a Comprar</label>
        <input type="number" id="form5Example2" class="form-control email" [(ngModel)]="min "  />
      </div>
      <div class="form-outline mb-4 p-4">
        <label class="form-label" for="form5Example2">Maximo a Comprar</label>
        <input type="number" id="form5Example2" class="form-control email" [(ngModel)]="max"  />
      </div>
  
      
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4" (click)="crear()">
        Crear
      </button>
  </div>
